* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background: #0f172a;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.mind {
  color: #6122c5;
}

.meld {
  color: #e7d3c7;
}


.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu li a:hover {
  color: #22c55e;
}

#user-name {
  color: #22c55e;
  font-weight: bold;
}